<form class="flex flex-col w-full" nz-form [formGroup]="validateHolidayForm" (ngSubmit)="submitForm()">
    <div class="mx-4">
        <!-- Name -->
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Holiday-Name</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
                <input aria-label="Holiday Name Input" style="width: 12rem;" nz-input formControlName="holidayName" />
            </nz-form-control>
        </nz-form-item>
        <!-- Description -->
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24">Holiday-Description</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
                <textarea aria-label="Holiday Description Input" style="width: 12rem;" nz-input
                    formControlName="holidayDescription"></textarea>
            </nz-form-control>
        </nz-form-item>
        <!-- Submit -->
        <nz-form-item>
            <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 8 }">
                <button nz-button nzType="primary">Submit</button>
            </nz-form-control>
        </nz-form-item>
    </div>
</form>