.travel {
  background-color: blue;
}

.hiking {
  background-color: green;
}

.food {
  background-color: red;
}

.sightseeing {
  background-color: yellow;
}

.shopping {
  background-color: purple;
}

.other {
  background-color: orange;
}

h3 {
  font-size: large;
}
