.travel {
  .coloured-top {
    background-color: #345995;
  }
}

.hiking {
  .coloured-top {
    background-color: #34853f;
    // 3fa34d shamrock (fails contrast)
  }
}

.food {
  .coloured-top {
    background-color: #bf3656;
    // E40066 razzmatazz
    // ef476f flamingo (fails contrast)
  }
}

.sightseeing {
  .coloured-top {
    background-color: #e05f19;
    // f08700 tangerine (fails contrast)
  }
}

.shopping {
  .coloured-top {
    background-color: #955da9;
  }
}

.other {
  .coloured-top {
    background-color: #555555;
  }
}

h4 {
  font-size: large;
  color: white;
}
