.travel {
  .coloured-top {
    background-color: #345995;
  }
}

.hiking {
  .coloured-top {
    background-color: #3fa34d;
  }
}

.food {
  .coloured-top {
    background-color: #ef476f;
    // E40066 razzmatazz
  }
}

.sightseeing {
  .coloured-top {
    background-color: #f08700;
  }
}

.shopping {
  .coloured-top {
    background-color: #955da9;
  }
}

.other {
  .coloured-top {
    background-color: #555555;
  }
}

h4 {
  font-size: large;
  color: white;
}
